%h4.page-title All Business Models

%div.row
  %div.col-lg-6
    - if policy(BusinessModel).create?
      = link_to 'New Business Model', new_business_model_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:business_model_list => @business_models})

%div.row
  %div.col-lg-6
    - if policy(BusinessModel).create?
      = link_to 'New Business Model', new_business_model_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"
