%h4.page-title All Disciplines

%div.row
  %div.col-lg-6
    - if policy(Discipline).create?
      = link_to 'New Discipline', new_discipline_path, :class => "btn btn-info btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:discipline_list => @disciplines})

%div.row
  %div.col-lg-6
    - if policy(Discipline).create?
      = link_to 'New Discipline', new_discipline_path, :class => "btn btn-info btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"