%table{:class=>"sorted-table table table-condensed table-striped"}
  %thead
    %tr
      %th Name
      %th Description
      %th Repositories
      - if (policy(Function).edit?)|(policy(Function).destroy?)
        %th.actions Actions
  %tbody
    - function_list.each do |function|
      %tr
        %td.no-wrap
          %div.hover-over{style:"width:100%;"}
            = link_to function.name,function
        %td
          =function.description
        %td=function.repositories.count
        - if (policy(Function).edit?)|(policy(Function).destroy?)
          %td.actions
            - if policy(Function).edit?
              -# = link_to image_tag('icons/edit.png',alt: 'Edit', title: 'Edit'),edit_country_path(country)
              = link_to 'Edit', edit_function_path(function), :class => "btn btn-secondary btn-sm"
            - if policy(Function).destroy?
              -# = link_to image_tag('icons/delete.png',alt: 'Delete', title: 'Delete'), country, method: :delete, data: { confirm: 'Are you sure?' }
              = link_to 'Delete', function, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-sm"