%h4.page-title All Functions

%div.row
  %div.col-lg-6
    - if policy(Function).create?
      = link_to 'New Function', new_function_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:function_list => @functions})

%div.row
  %div.col-lg-6
    - if policy(Function).create?
      = link_to 'New Function', new_function_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"
