%h4.page-title All Statuses

%div.row
  %div.col-lg-6
    - if policy(Status).create?
      = link_to 'New Status', new_status_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:status_list => @statuses})

%div.row
  %div.col-lg-6
    - if policy(Status).create?
      = link_to 'New Status', new_status_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"
