%h4.page-title All Services

%div.row
  %div.col-lg-6
    - if policy(Service).create?
      = link_to 'New Service', new_service_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:service_list => @services})

%div.row
  %div.col-lg-6
    - if policy(Service).create?
      = link_to 'New Service', new_service_path, :class => "btn btn-secondary btn-sm"
  %div.col-lg-6.right-aligned
    -# = render "_shared/download_machine_readable_data_buttons"
