%div#footer
  %p
    -#DOAPR system developed by
    -#%a{href: "http://www.antleaf.com"} Antleaf
    -#for
    -#%a{href: "https://www.coar-repositories.org"} COAR.

    This website is licensed under a
    %a{rel:"license", href: "https://creativecommons.org/publicdomain/zero/1.0/"} Creative Commons Universal (CC0 1.0) Public Domain Dedication License