.btn-group-sm > .btn, .btn-sm {
  padding: .4rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

div.edit-button {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  padding-right: 10px;
}